*{

    font-family: 'Roboto', sans-serif;
    color: black; 
}

.container {  display: grid;
    grid-template-columns: 0.6fr 1.4fr 0.8fr 1.2fr;
    grid-template-rows: 0.5fr 1.5fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "sidebar header header header"
      "sidebar projects projects trend"
      "sidebar projects projects trend";
      max-width: 80%vw;
      max-height: 80%vh;
      margin:auto;
      border:green dashed;
  }
  
  .sidebar { grid-area: sidebar; }

  .sidebarDiv {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    border:dashed red;
    gap:30px;
    margin-top:20vh;
  }

  .sidebarDiv button{
    flex-grow: 1;
    padding:15px;
  }
  

  .header {
    display: grid; 
    grid-template-columns: 1.2fr 0.8fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "search profile"
      "hi headbuttons"; 
    grid-area: header; 
  }


  
  .projects { grid-area: projects; }

  .projectsDiv{
    display:flex;
    flex-wrap: wrap;
    border:dashed yellow;
    gap:30px;
    justify-content: space-evenly;
  }

  .projectItem{
    width:45%;
    height:45%;
    background-color: lightcoral;
    padding:10px;
  }
  
  .trend { grid-area: trend; }
  

  .announceDiv {
    display: flex;
    border:solid purple;
    flex-direction: column;
    }

.announceItem {
    background:tan;
    padding:10px;
}


.trendDiv {
    display: flex;
    border:dashed gray;
    flex-direction: column;
    }

.trendItem{
    background:orange;
    padding:5px;
}


/*subgrid items*/

.search { 
    grid-area: search; 
}

.searchDiv {
    display:flex;
    padding:30px;
    border:green dashed;
}


.hi { grid-area: hi; }
.profile { grid-area: profile; }

.headbuttons { grid-area: headbuttons; }

.headbuttonDiv {
    display:flex;
    justify-content: space-evenly;
    border:dashed blue;
}