* {

    font-family: 'Roboto', sans-serif;
    color: black;
    box-sizing: border-box;
}

html,body {
    background-color: rgba(226, 232, 240, 255);
    margin:0;
}

.container {
    display: grid;
    grid-template-columns: 0.6fr 1.4fr 0.8fr 1.2fr;
    grid-template-rows: 0.5fr 1.5fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "sidebar header header header"
        "sidebar projects projects trend"
        "sidebar projects projects trend";
    max-width: 80%vw;
    height: 100vh;
    margin: auto;
}

.sidebar {

    grid-area: sidebar;

    background-color: orange;
}

.sidebarDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
    text-align: center;
    /*margin-top:20vh;*/
}

.sidebarDiv a {
    flex-grow: 1;
    padding: 15px;
    font-weight: 900;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
        "headertop"
        "headerbottom";
    grid-area: header;
    box-shadow: 0px 2px 3px rgb(175 175 175);
    position: relative;
    background-color: white;
}


.headertop {


    grid-area: headertop;
    display: flex;
    justify-content: space-between;
}




.headerbottom {

    grid-area: headerbottom;
    display: flex;
    justify-content: space-between;
}



.projects {
    grid-area: projects;
    background-color: rgba(226, 232, 240, 255);
}

.projectsDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
}

.projectItem {
    width: 45%;
    height: 45%;
    background-color: white;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 0px 2px 3px rgb(175 175 175);
    background-image: -webkit-linear-gradient(left, orange, orange 2%, transparent 2%, transparent 100%);

}

.trend {
    grid-area: trend;
    background-color: rgba(226, 232, 240, 255);
}


.announceDiv {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 3px rgb(175 175 175);
    border-radius: 1rem;
    padding: 10px;
    background-color: white;
}

.announceItem {
    background-color: white;
}


.trendDiv {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 3px rgb(175 175 175);
    border-radius: 1rem;
    padding: 10px;
    background-color: white;
}

.trendItem {
    background: white;
}


/*subgrid items*/

.search {
    grid-area: search;
}

.searchDiv {
    display: flex;
    padding: 15px;
    justify-content: space-evenly;
    align-items: center;
}

.searchDiv input {

    width: 45vw;
    max-width: 471px;
    height: 25px;
    background-color: rgba(226,232,240,255);
    border: none;
    border-radius: 15px;

}

.hi {
    grid-area: hi;
}

.hiDiv {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.hiDiv i {
    padding-left: 10px;
    padding-right: 10px;
}


.profile {
    grid-area: profile;
}

.profileDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%
}

.headbuttons {
    grid-area: headbuttons;
}

.headbuttonDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    width: 20%
}


.headbuttonDiv button {
    width: 75px;
    height: 30px;
    border-radius: 1rem;
    background-color: orange;
    font-weight: 900;
    padding: 5px;
    color:white;
}